.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    min-height: 1000px;
}

.products {
    width: 100%;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty p {
    color: #fe5d42;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.empty img {
    width: 500px;
}